	<div class = "footer">
  		<div id = "left">Powered By <a href="http://www.bootcss.com">BootStrap</a> written by <a href="{{ "/designer/designer.html" | prepend: site.baseurl }}">PPCA2014</a>
  		</div>
  		<div id = "right">Copyright &copy; 2014 <a href="http://acm.sjtu.edu.cn">ACM Class</a>. All rights reserved.</div>
	</div>
	</body>
	<script src="{{ "/js/jquery.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/jquery.md5.js" | prepend: site.baseurl }}"></script> 
	<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
	<script src="{{ "/js/main.js" | prepend: site.baseurl }}"></script>
</html>
